[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
numpy = "*"
transformers = "*"
contractions = "*"
joblib = "*"
flask = "*"
shap = "*"
safetensors = "*"
flask-cors = "*"
diffusers = "*"
sentencepiece = "*"
accelerate = "*"
sacremoses = "*"
tensorflow = "*"
tf-keras = "*"
pymongo = "*"
certifi = "*"
pandas = "*"
matplotlib = "*"
gensim = "*"

[dev-packages]
jupyter = "*"
ipywidgets = "*"
torchmetrics = "*"
scikit-learn = "*"
matplotlib = "*"
datasets = "*"
seaborn = "*"
lime = "*"
mps = "*"
ipykernel = "*"
