[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
pandas = "*"
numpy = "*"
transformers = "*"
ipykernel = "*"
jupyter = "*"
ipywidgets = "*"
torchmetrics = "*"
scikit-learn = "*"
matplotlib = "*"
contractions = "*"
nltk = "*"
datasets = "*"
joblib = "*"
flask = "*"
lime = "*"
seaborn = "*"
shap = "*"
safetensors = "*"
flask-cors = "*"
pymongo = "*"

[dev-packages]
