.model-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1 1 auto;
}
/* anime image generator */

.anime-model-swiper {
  height: 100px;
  box-shadow: 0 4px 8px rgba(253, 65, 8, 0.933); /* Light shadow for a lifted effect */
  border-radius: 5px;
}

.anime-model-card {
  position: relative;
}

.anime-model-image {
  width: 100%;
  height: 100%;
}

.anime-model-download {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0 0 0 0.5rem;
  z-index: 2;
}

.anime-model-gen-btn {
  align-self: flex-end;
  margin-right: 10%;
  margin-top: 2%;
  z-index: 2;
}

/* entreprenuer detection model */

.ent-model-input-container {
  width: 60%;
  z-index: 2;
}

.ent-model-title {
  text-align: left;
  font-size: 2.15rem;
}

.ent-model-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.ent-model-input {
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 1.25rem;
  line-height: 1.25;
  text-indent: 15px;
  resize: none; /* Disable resizing */
  z-index: 2;
  border-color: var(--orange);
  border-radius: 5px;
  transition: box-shadow 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.ent-model-input:focus {
  outline: 0px;
  box-shadow: 0 8px 16px rgba(253, 65, 8, 0.933);
}

@media screen and (max-width: 768px) {
  .ent-model-input-container {
    width: 85%;
  }
}

/* arabic text generator model */

.arabic-text-area {
  height: 100px;
  direction: rtl;
  text-align: right;
  font-family: "Amiri", serif;
  font-size: 20px;
  z-index: 2;
}

.arabic-ouput-area {
  margin-top: 20px;
  width: 60%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.arabic-img-placeholder {
  align-self: center;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: url("../assets/images/arabic.jpg") no-repeat;
  background-size: cover;
  position: relative;
}

.arabic-img {
  width: 356px;
  height: auto;
  border-radius: 5px;
}

.arabic-download {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: #000;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0 0 0 0.5rem;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .arabic-ouput-area {
    width: 85%;
  }
  .arabic-img-placeholder {
    width: 100%;
    height: 300px;
  }
  .arabic-img {
    width: 90%;
    height: auto;
  }
}
