.model-swiper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.model-swiper-title {
  width: 80%;
  color: #ffffff;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 2.5m;
  line-height: 1.1;
}

.model-swiper-container {
  width: 80%;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 10px;
  z-index: 2;
}

/* Custom scrollbar for Webkit browsers */
.model-swiper-container::-webkit-scrollbar {
  width: 8px; /* Adjust width for vertical scrollbar */
  height: 8px; /* Adjust height for horizontal scrollbar */
}

.model-swiper-container::-webkit-scrollbar-thumb {
  background-color: var(--orange); /* Darker color for the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
}

.model-swiper-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Lighter color for the scrollbar track */
  border-radius: 10px; /* Rounded corners */
}

.model-swiper-container > * {
  flex: 0 0 auto; /* Prevents flex items from shrinking */
  scroll-snap-align: start; /* Ensures each item aligns to the start of the container */
  margin-right: 20px; /* Spacing between cards */
}

.model-cover-image{
  height: 200px;
  width:auto;
  object-fit: cover;
}

.ant-card-body {
  height: 200px; 
}